{% extends 'trackerapp/base.html'%}

{%block content%}

<div class="row mb-2">
    <div class="col-md">
            <form class="d-grid gap-2" action="" method="post">
                {%csrf_token%}
                <button class="btn btn-primary" type="submit" name="create-workout">Log a Workout</button>
            </form>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <form class="d-grid gap-2" action="" method="post">
            <ul class="list-group">
                <li class="list-group-item"><strong>Incomplete Workouts</strong></li>
                {% for workout in workouts %}
                <a href="workout/{{workout.id}}" class="list-group-item list-group-item-action">{{workout.date.date}} | {{workout.name|default_if_none:"Workout"}}</a>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>

<br>
<div class="card">
    <div class="card-header">
        <h5>Create an Exercise</h5>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {%csrf_token%}
            <h5 class="card-title">{{exerciseform.name}}</h5>
            <button class="btn btn-primary" type="submit" name="create-exercise">Create Exercise</button>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h5>Select an Exercise</h5>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <ul class="list-group">
                {% for exercise in exercises %}
                <a href="exercise/{{exercise.id}}" class="list-group-item list-group-item-action">{{exercise.name}}</a>
                {% endfor %}
            </ul>
        </div>
        </form>
    </div>
</div>
{%endblock%}