{% extends 'trackerapp/base.html'%}
{%block content%}
<form class="d-grid gap-2" action="" method="post" name="form_workout_update" id="form_workout_update">
    {%csrf_token%}
    <input type="hidden" name="update-workout">
    <input type="hidden" name="update-workout-name">
    <div class="row d-flex">
        <div class="col-2 pe-0 d-flex flex-column justify-content-center d-grid">
            <a class="btn btn-outline-primary" href="/">
                <i class="fas fa-angle-left fa-lg"></i>
            </a>
        </div>
        <div class="col">
            {{workout_form.name}}
        </div>
        <div class="col-2 ps-0 d-flex flex-column justify-content-center d-grid">
            <button class="btn btn-outline-success" type="submit" name="complete-workout">
                <i class="fas fa-check fa-lg"></i>
            </button>
        </div>
    </div>
</form>
<div class="row">
    <form class="d-grid" action="" method="post" name="form_add_exercise">
        {%csrf_token%}
        <input type="hidden" name="add-exercise">
        {{workout_exercise_form.workout}}
        <div class="col">
            {{workout_exercise_form.exercise}}
        </div>
    </form>
</div>
<div class="row">
    <div class="col">
        <div class="accordion mb-2" id="exercise-accodion">
            {% for exercise in workout_exercise_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{exercise.exercise.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{exercise.id}}" aria-expanded="true"
                        aria-controls="collapse{{exercise.exerciser.id}}">
                        {{exercise.exercise}}

                    </button>
                </h2>
                <div id="collapse{{exercise.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#exercise-accodion">
                    <div class="accordion-body">
                        <form action="" method="post" name="form-update-sets-{{exercise.id}}" id="form-update-sets-{{exercise.id}}">
                            {%csrf_token%}
                            {{ formset.management_form }}
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="col">Set</th>
                                            <th scope="col">Weight</th>
                                            <th scope="col">Reps</th>
                                            <th scope="col">Failure</th>
                                        </tr>
                                    </thead>
                                    <tbody id="set-list-{{exercise.id}}" name="set-list-{{exercise.id}}">
                                        {% for form in formset %}
                                        {%if form.initial.workout_exercise == exercise.id%}
                                        {{form.name}}
                                        <tr>
                                            <td>{{form.name.value}}</td>
                                            <td>{{form.weight}}</td>
                                            <td>{{form.reps}}</td>
                                            <td>{{form.failure}}
                                                <label class="btn btn-outline-danger" id="fail-btn"
                                                    for="{{form.failure.auto_id}}">Failure</label><br>
                                            </td>
                                        </tr>
                                        <input type="hidden" value={{exercise.id}} name="workout_exercise">
                                        {% endif %}
                                        {{form.id}}
                                        {{form.workout_exercise}}
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" name="update-set">
                        </form>
                        <div class="row justify-content-center">
                            <div class="col-4 d-flex justify-content-center">
                                <form action="" method="post" name="workout_set_form-{{exercise.exercise.id}}">
                                    {%csrf_token%}
                                    <input type="hidden" value="{{exercise.id}}" name="add-set" id="add-set">
                                    <button class="btn btn-link" name="add-set-{{exercise.id}}"><i
                                            class="fas fa-plus fa-2x"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>
</div>
<ul>
    <!--     {%for set in sets%}
    <li>{{set.id}} - {{set.name}} - {{set.workout}} - {{set.workout_exercise}} - {{set.workout_exercise.workout}}</li>
    {%endfor%} -->
</ul>
<div class="row mb-2">
    <form class="m-0" action="" method="post" name="update-workout-notes">
        <div class="col">
            {{workout_form.notes}}
        </div>
    </form>

</div>

<form class="d-grid gap-2" action="" method="post" name="form_workout_update" id="form_workout_update">
    {%csrf_token%}
    <div class="btn-group d-grid gap-2 mb-2" role="group">
        {{workout_form.complete}}
        <label class="btn btn-outline-primary" for="complete" data-toggle="button" aria-pressed="false">Workout
            Complete</label>

    </div>
    <input type="hidden" name="delete-workout" id="delete-workout">
    <button class="btn btn-danger" type="submit" name="delete-workout">Delete Workout</button>
</form>

{%endblock%}