{% extends 'trackerapp/base.html'%}
{%block content%}

<form class="d-grid gap-2" action="" method="post" name="form_workout_update" id="form_workout_update">
    {%csrf_token%}
    <input type="hidden" name="update-workout-name">
    <button class="btn btn-primary" type="submit" name="update-workout">Update Workout</button>
    <div class="row">
        <div class="col">
            {{workout_form.name}}
        </div>
    </div>
</form>
<div class="row">
    <form class="d-grid" action="" method="post" name="form_add_exercise">
        {%csrf_token%}
        <input type="hidden" name="add-exercise">
        <div class="col">
            {{workout_exercise.exercise}}
        </div>
    </form>
</div>
<div class="row">
    <div class="col">
        <div class="accordion mb-2" id="exercise-accodion">
            {% for exercise in workout_exercise_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{exercise.exercise.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{exercise.id}}" aria-expanded="true"
                        aria-controls="collapse{{exercise.exerciser.id}}">
                        {{exercise.exercise}} - {{exercise.id}}

                    </button>
                </h2>
                <div id="collapse{{exercise.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#exercise-accodion">
                    <div class="accordion-body">
                        <form action="" method="post">
                            {%csrf_token%}
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col">Set</th>
                                        <th scope="col">Weight</th>
                                        <th scope="col">Reps</th>
                                        <th scope="col">Failure</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                    {{ formset.management_form }}
                                    {%if form.initial.workout_exercise == exercise.id%}
                                    {{form.id}}
                                    <tr>
                                        <td>{{form.name|default:"Test"}}</td>
                                        <td>{{form.weight}}</td>
                                        <td>{{form.reps}}</td>
                                        <td>{{form.failure}}
                                            <label class="btn btn-outline-primary" id="fail-btn">Failure</label><br>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" value={{form.id}} name="update-set">
                        <button class="btn btn-primary" type="submit" name="update-set-{{form.id}""}>Update Sets</button>
                        </form>
                        <form action="" method="post" name="workout_set_form-{{exercise.exercise.id}}">
                            {%csrf_token%}
                            <input type="hidden" value="{{exercise.id}}" name="add-set">
                            {{set_form.name}} - {{set_form.workout_exercise.id}} - {{set_form.workout.id}} 
                            <button class="btn btn-primary" name="add-set-{{exercise.id}}">Add Set</button>
                        </form>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
    </div>
</div>

<div class="row mb-2">
    <form class="m-0" action="" method="post" name="update-workout-notes">
        <div class="col">
            {{workout_form.notes}}
        </div>
    </form>

</div>
<div class="btn-group d-grid gap=2 mb-2" role="group" aria-label="Basic checkbox toggle button group">
    {{workout_form.complete}}
    <label class="btn btn-outline-primary" for="btn-complete">Workout Complete</label>
</div>
<form class="d-grid gap-2" action="" method="post" name="form_workout_complete">
    {%csrf_token%}
    <input type="hidden" name="delete-workout" id="delete-workout">
    <button class="btn btn-outline-danger" type="submit" name="delete-workout">Delete Workout</button>
</form>



{%endblock%}