{% extends 'trackerapp/base.html'%}
{% load static %}
{% load extra_tags %}
{%block content%}

<ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/workout/{{exercise.workout.id}}">Return to Workout</a>
    </li>
</ul>
<br>
<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h4 class="mx-0">{{exercise.exercise}}</h4>
        <form class="mb-0" action="" method="post">
            {%csrf_token%}
            <button class="btn btn-primary" name="add-set">Add Set</button>
        </form>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {%csrf_token%}
            {{ formset.management_form }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Exercise</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Failure</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    {{form.id}}
                    <tr>
                        <td>{{form.name}}</td>
                        <td>{{form.weight}}</td>
                        <td>{{form.reps}}</td>
                        <td>{{form.failure}}</td>
                        <td>{{form.DELETE}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit" name="update-set" for="">Update Sets</button>
        </form>

    </div>
</div>
<ul>
    {% for set in sets %}
    <li>{{set}} - {{set.workout_exercise.exercise}} - {{set.workout}}</li>
    {%endfor%}
</ul>
{%endblock%}