{% extends 'trackerapp/base.html'%}
{%block content%}

<form class="d-grid gap-2" action="" method="post">
{%csrf_token%}
<div class="row mb-2">
    <div class="col">
        {{workout_form.name}}
    </div>
</div>
<div class="row mb-2">
    <form action="" method="post">
        <div class="col">
            {{workout_exercise.exercise | default_if_none:"Select and exercise"}}
        </div>
</div>
<div class="accordion" id="exercise-accodion">
    {% for exercise in workout_exercise_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{exercise.exercise.id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{exercise.id}}" aria-expanded="true" aria-controls="collapse{{exercise.exerciser.id}}">
        {{exercise.exercise}}
      </button>
    </h2>
    <div id="collapse{{exercise.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#exercise-accodion">
      <div class="accordion-body">
        <form action="" method="post">
            {%csrf_token%}
            {{ formset.management_form }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Weight</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Failure</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    {{form.id}}
                    <tr>
                        <td>{{form.weight}}</td>
                        <td>{{form.reps}}</td>
                        <td>{{form.failure}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

</form>
</div>


            <div class="row mb-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark"><h5 class="mb-0">Today's Exercises</h5></li>
                    {% for exercise in workout_exercise_list %}
                    <li class="list-group-item">
                        <form action="" method="post">
                            {%csrf_token%}
                            <input type="checkbox" id='{{exercise.id}}' name='delete-exercise' value='{{exercise.id}}' hidden checked>
                             {{exercise.exercise}} - {{exercise.id}} - {{exercise.workout.name}}
                             <a class="btn btn-primary" href="/workout/exercise/{{exercise.id}}">Edit</a>
                             <button class="btn btn-danger" type="submit" name="delete-workout-exercise">Delete</button>
                        </form>
                    </li>
                    {%endfor%}
                </ul> 
            </div>
               
            <br>
            <p>{{workout_form.notes}}</p>

            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {{workout_form.complete}}
                <label class="btn btn-outline-primary" for="btn-complete">Workout Complete</label>
            </div>
            <br><br>
            <button class="btn btn-primary" type="submit" name="update-workout">Update</button>
            <button class="btn btn-primary" type="submit" name="delete-workout">Delete</button>
        </div>
    <ul class="list-group">
        {% for set in all_sets %}
        <li class="list-group-item">
            {{set.id}} - {{set.name}} - {{set.workout_exercise.exercise}} - {{set.reps}} - {{set.failure}}
        </li>
        {%endfor%}
    </ul>

{%endblock%}